:root {
    --color-white: #fff;
    --color-navigation: #C0B283;
    --color-black-ligth: #222;
    --color-background-text: #F0F0F0;
    --color-blue: #42BCD5;
    --color-background-footer: #e4e4e4;
    --color-black: #333;
}