.contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 20px;
    margin-left: 360px;
    color: var(--color-black-ligth);
}

.contact>h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    margin-bottom: 60px;
}

.contact>h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 60px;
}

.contact>p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

.contact a {
    text-decoration: none;
    color: var(--color-blue);
}

.contact a:hover {
    color: var(--color-navigation);
}

/* MEDIA QUERIE */

@media (max-width: 828px) {
    .contact {
        text-align: center;
        padding: 20px;
        height: 100%;
        margin: 0;
        min-width: 360px;
    }
}